<div class="jumbotron">
    <h1 class="text-center">
        Caelum Galeria
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label>Filtrar</label>
        <input #filtro (keyup)="0" class="form-control"  placeholder="filtrar pelo titulo da foto" />
    </div>

    <div class="row">
        <app-painel *ngFor="let foto of fotos | filtroPorTitulo:filtro.value" titulo="{{foto.titulo | uppercase }}" class="col-md-2">
            <app-foto  url="{{foto.url}}" title="{{foto.titulo}}"></app-foto>
        </app-painel>
    </div>
</div>
